/*
** Google Fonts **
font-family: 'Walter Turncoat', cursive;
*/

@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat&display=swap');

html {
    font-family: 'Walter Turncoat', cursive;
}

body {
    font-family: 'Walter Turncoat', cursive;
    color: #fff;
    background-color: #282828;
}

button {
  padding: 10px 20px;
  background-color: #790101;
  color: #fff;
  text-decoration: uppercase;
  font-size: 20px;
}

form p {
    color: #282828;
}

h1, .h1 {
  font-size: 1.8rem;
  position: absolute;
  width: 405px;
  left: 0;
  bottom: 10px;
  background: rgba(40, 40, 40, 0.8);
  padding: 0.3rem 2rem 0 2rem;
  color: #fff;
}

h2, .h2 {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}

h3, .h3 {
  font-size: 1.8rem;
  color: #790101;
  text-align: center;
}

iframe {
    margin: 0 auto;
    display: block;
    padding-bottom: 50px;
    width: 720px;
    height: 405px;
    border: none;
}

img {
    width: 100%;
    max-width: 960px;
}

svg {
    fill: #fff;
    width: 110px;
    height: 110px;
}

svg:hover{
    fill: #BA0100;
}

footer {
    margin-top: 50px;
    padding: 30px 0;
    text-align: center;
    border-top: 5px solid #282828;
}

footer a {
    color: #fff;
    text-decoration: none;
}


/* ** Classes ** */

.nav-link {
  color: #fff;
}

.navbar {
      padding: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 1.2rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  background: #fff;
}

.bg-elmoGrey {
    background: rgba(40, 40, 40, 0.8);
}

.wrapper {
    margin: 0 auto;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-color: #BA0100;
    background-size: 100% auto;
    max-width: 1000px;
    padding: 20px;
}

/* Form */

.formWrapper {
    margin:60px 0 100px 0;
    position: relative;
}

form {
    border: 1px solid red;
    width: 43%;
    height: 120%;
    position: absolute;
    right: 30px;
    top: -40px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 15px #282828;
    padding: 25px;
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 9px 0 5px 9px;
    width: 100%;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    font-size: 17px;
    color: #282828;
    font-family: 'Walter Turncoat', cursive;
}

/* Article */
.box {
    margin-top: 30px;
    width: 30%;
    margin: 0 10px;
    text-align: center;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #790101;ide
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    /*transition-delay: 0.1s;*/
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle:hover {
  background-color: #282828;
}

.todo {
    display: flex;
    margin-top: 20px;
}

.white {
    color: #fff;
}

.card {
    background-color: #505050;
}

.modal-content {
    background-color: #BA0100;
}

.card-header {
    background-color: #282828;
}

.card-header a {
    font-color: #fff;
}

button .collapse {
    background-color: #505050;
    font-size: 1rem;
}

.btn-link {
    color: #fff;
    font-size: 1.4rem;
    text-decoration: uppercase;
}

.btn-link:hover {
    color: #BA0100;
}

#map {
    height: 300px;
}

.navbar-toggler {
    margin: 5px;
}

.navbar-toggler:focus {
    text-decoration: none;
}

.profil-form {
    position: static;
}

.error {
    color: #B20F0F;
}

.secondary-button {
    color: #BA0100;
    text-decoration: underline;
    padding-left: 5px;
}


.secondary-button:hover {
    color: #BA0100;
    text-decoration: underline;
    padding-left: 5px;
}

@media screen and (max-width: 999px) {

    h1 {
        position: relative;
        width:100%;
        text align: center;
    }

    form {
        width: 100%;
        position: static;

    }

    iframe {
        width: 100%;
    }

    img {
        margin-bottom: 20px;
    }

    .todo {
        flex-direction: column;
    }

    .box {
        width: 100%;
    }

    .navbar-nav {
        margin-left: 10px;
    }

    .nav-item.right {
        float: right;
    }

}

@media screen and (max-width: 500px) {

    body {
        font-size: 3rem;
    }

    h1 {
        font-size: 5rem;
    }

}