<!DOCTYPE html>

<html lang="de">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="../static/js/bootstrap.js"></script>
        <link rel="shortcut icon" href="https://cdn.sesamestreet.org/sites/all/themes/sesametheme/favicon.ico" type="image/vnd.microsoft.icon">
        <title>Meet 'n Greet mit Elmo</title>
    </head>

    {% block content %}{% endblock content %}
    </body>
</html>