<form method="post" action="/">
    <h3 class="red">Möchtest du gemeinsam mit Elmo singen?</h3>
    <p>Alles was du dafür tun musst ist uns dein Lieblingslied von Elmo verraten und mit etwas Glück bekommst du die Chance das Lied demnächst zusammen mit Elmo zu singen!</p>
    <p><input type="text" name="name" placeholder="Dein Name" /></p>
    <p><input type="text" name="songtitle" placeholder="Liedtitel" /></p>
    <p><input type="email" name="mail" placeholder="E-Mailadresse" /></p>
    <p><button>Absenden</button></p>
</form>