<form method="post" action="/register">
    <h3 class="red">Registriere dich jetzt zur Elmo-Welt:</h3>
    {% if request.args.get('error') and request.args.get('error') == "email" %}
    <p class="error">Bitte prüfe deine E-Mail Adresse noch einmal</p>
    {% endif %}
    <p><input type="text" name="username" placeholder="Dein Nutzername" /></p>
    <p><input type="text" name="name" placeholder="Dein Vorname" /></p>
    <p><input type="text" name="email" placeholder="Deine E-Mailadress" /></p>
    <p><input type="password" name="password" placeholder="Dein Passwort" /></p>
    <p><button type="submit">Registrieren</button> <a class="secondary-button" href="/login">Zum Login</a> </p>
</form>